EasyButtonDotNet/TestScriptRunner/bin/
EasyButtonDotNet/TestScriptRunner/obj/
EasyButtonDotNet/EasyLogListener/bin/
EasyButtonDotNet/EasyLogListener/config.xml.nocommit
EasyButtonDotNet/EasyLogListener/obj/
